@define-color background #040916;
@define-color foreground #a7bfe0;
@define-color color0 #040916;
@define-color color1 #4C316E;
@define-color color2 #3B437A;
@define-color color3 #304F97;
@define-color color4 #3D4A97;
@define-color color5 #5A549A;
@define-color color6 #9A5EA5;
@define-color color7 #a7bfe0;
@define-color color8 #74859c;
@define-color color9 #4C316E;
@define-color color10 #3B437A;
@define-color color11 #304F97;
@define-color color12 #3D4A97;
@define-color color13 #5A549A;
@define-color color14 #9A5EA5;
@define-color color15 #a7bfe0;