@define-color bg #040916;
@define-color fg #a7bfe0;
@define-color gray1 #3B437A;
@define-color gray2 #74859c;
@define-color gray3 #3D4A97;
@define-color gray4 #304F97;
@define-color gray5 #5A549A;
@define-color fg_bright #a7bfe0;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}