@import "../omarchy/current/theme/waybar.css";
@import url("file:///home/phuctruong/.cache/wal/colors-waybar.css");

* {
  background-color: transparent;
  color: @foreground;
  border-radius: 10px;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
}

.modules-center {
  background-color: @background;
}

.modules-left {
  /*  */
}

.modules-right {
  /*  */
}

#workspaces button.persistent label {
  font-size: 20px;
}

#workspaces button {
  all: initial;
  padding: 2px 14px;
  border-radius: 8px;
  opacity: 0.4;
  transition: all 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);
}

#workspaces button.empty {
  opacity: 0.2;
}

#workspaces button.active {
  color: @background;
  opacity: 1;
}

#hardware {
  background-color: @background;
}

#hardware * {
  padding: 2px 7px;
}

#pulseaudio {
  background-color: @background;
  padding: 2px 14px;
}

#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  /* margin: 0px 14px; */
}

#bluetooth {
  background-color: @background;
  padding: 2px 14px;
}

#network-full {
  background-color: @background;
}

#network {
  padding: 2px 0px 2px 14px;
}

#network-stats {
  padding: 2px 14px 2px 0px;
}

#network-stats * {
  font-size: 13px;
}

#network.upload {
  margin-bottom: -4px;
  font-weight: 600;
  color: #ff4c2d;
}

#network.download {
  margin-top: -4px;
  font-weight: 600;
  color: #4672f7;
}

#tray-expander {
  background-color: @background;
}

#custom-expand-icon {
  padding: 2px 14px;
}

#tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  background-color: @background;
  font-size: 16px;
  font-family: 'Audiowide';
  padding: 2px 14px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-omarchy {
  padding: 2px 16px;
}

#group-power {
  background-color: @background;
}

#custom-quit,
#custom-lock,
#custom-reboot,
#custom-power {
  margin: 0px 14px;
}

#custom-cava {
  background-color: @background;
  color: @foreground;
  border-left: 0px;
  border-right: 0px;
  padding: 2px 16px;
  font-size: 26px;
  font-family: 'bargraph';
}
#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
